body {
    background-color: #e6e6e6;
}

.container {
    position: absolute;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

td {
    width:30px;
    height:30px;
    font-family: verdana, sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 0;
}

.block0 {
    background-color: #ffffff
}

.block1 {
    background-color: #e6e6e6
}
