.container {
    position: absolute;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

td {
    width:30px;
    height:30px;

    font-family: Verdana;
    font-size: 1em;
    text-align: center;
    padding: 0px;
}